# Environment files
.env
venv/
.venv

# Compiled Python files
*.pyc

# Database files
db.sqlite3
# Static files (usually managed by collectstatic)

static/
staticfiles/

# Media files
media/

# IDE/Editor specific files (choose those you use)
.idea/
.vscode/
pycharm/

# Local configuration files
local_settings.py

# Coverage reports
coverage/

# Test database

# Anything else project-specific you want to ignore
*.log

**/__pycache__/**
**/migrations/**
!**/migrations/__init__.py